#content {
    /* height: 80vh; */
    width: 50vw;
    align-self: stretch;
}

form {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

form > .consultar__form--block {
    display: block;
    width: 100%;
    padding: 3px;
}

form > label {
    flex-basis: content;
}

form >  input {
    margin: 0 5px;
}

form .button {
    padding: 8px;
    background-color: #046da7;
    border-radius: 5px;
    cursor: pointer;
    
    flex-basis: content;
}